div#root {
    margin: 5rem 0px 0px 0px;
}
.scorecard {
    display: flex;
    justify-content: space-around;
    height: 84vh;
    align-items: center;
}
.runview {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    font-size: 1.5rem;
    background: #af8bff;
    border: 6px double white;
    border-radius: 5px;
    padding: 10px 0px;
}
p.runs, p.over {
    text-shadow: 1px 1px 6px white;
}


button.decision-btn {
    padding: 10px;
    text-transform: uppercase;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px gray;
    font-size: 1rem;
    background-color: white;
    border: 2px solid #af8bff;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; 
  }
  button.decision-btn:hover{
      background-color: #0056b3;
    transform: scale(1.1);
    width: 80px;
    height: 80px;
    color: aliceblue;
  }
  .typeofball {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
img {
    width: 90%;
    padding-right: 54px;
    filter: drop-shadow(4px 4px 70px #8a2be2);
}
.umpire-heading {
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: x-large;
    color: black;
    /* box-shadow: 0px 0px 0px black; */

}
@media screen and (max-width: 600px){
   
.scorecard {
    display: block;
    height: 105vh;
}
}
@media screen and (max-width: 450px){
   
    .scorecard {
        display: block;
        height: 90vh;
    }
    }